// Service code

protocol Service {
//-{% for serviceMethod in renderer.methods %}
  // {{ serviceMethod.description }}
  func {{ serviceMethod.name }} ({{ .|protocolParametersDeclaration:serviceMethod }}) throws {{ .|protocolReturnDeclaration:serviceMethod  }}
//-{% endfor %}
}

class Server {
	private var service : Service
	
	init(service : Service) {
		self.service = service
	}
}