// Common type declarations

//-{% for serviceType in renderer.types %}
public class {{ serviceType.name }} {
//-{% for serviceTypeField in serviceType.fields %}
  public var {{serviceTypeField.name}} : {{serviceTypeField.typeName}} = {{serviceTypeField.initialValue}}
//-{% endfor %}
}

//-{% endfor %}