// Common type declarations

//-{% for serviceType in renderer.types %}
class {{ serviceType.name }} {
//-{% for serviceTypeField in serviceType.fields %}
  public var {{serviceTypeField.name}} : {{serviceTypeField.typeName}}
//-{% endfor %}
}

//-{% endfor %}