# IntelliJ IDEA
.idea
# Eclipse
.checkstyle
.project
.settings
# Swift
.build
Packages
# Node
node_modules
package-lock.json
bundle.json
# vi
*.swp
# vscode
.vscode
.DS_Store
*~
Package.resolved
extensions/sample/generated

plugins/gnostic-go-generator/examples/v3.0/bookstore/service/service
plugins/gnostic-go-generator/examples/v3.0/bookstore/bookstore/client.go
plugins/gnostic-go-generator/examples/v3.0/bookstore/bookstore/constants.go
plugins/gnostic-go-generator/examples/v3.0/bookstore/bookstore/model.json
plugins/gnostic-go-generator/examples/v3.0/bookstore/bookstore/provider.go
plugins/gnostic-go-generator/examples/v3.0/bookstore/bookstore/server.go
plugins/gnostic-go-generator/examples/v3.0/bookstore/bookstore/types.go
plugins/gnostic-go-generator/examples/v2.0/bookstore/service/service
plugins/gnostic-go-generator/examples/v2.0/bookstore/bookstore/client.go
plugins/gnostic-go-generator/examples/v2.0/bookstore/bookstore/constants.go
plugins/gnostic-go-generator/examples/v2.0/bookstore/bookstore/model.json
plugins/gnostic-go-generator/examples/v2.0/bookstore/bookstore/provider.go
plugins/gnostic-go-generator/examples/v2.0/bookstore/bookstore/server.go
plugins/gnostic-go-generator/examples/v2.0/bookstore/bookstore/types.go