// PLEASE COMPLETE THE FUNCTIONS IN THIS FILE TO IMPLEMENT YOUR SERVICE

package {{.Renderer.Package}}

import (
	"log"
)

func initialize_service() {
}

{{range .Renderer.Methods}}
func {{.ProcessorName}}(parameters *{{.ParametersTypeName}}, responses *{{.ResponsesTypeName}}) (err error) {
	log.Printf("{{.Name}} %+v", parameters)
	// IMPLEMENT YOUR SERVICE HERE
	return nil
}
{{end}}