
// COMPLETE THIS MANUALLY
func {{.Method.ProcessorName}}(parameters *{{.Method.RequestTypeName}}, responses *{{.Method.ResponseTypeName}}) (err error) {
	log.Printf("{{.Method.Name}} %+v", request)
	return nil
}
