
// COMPLETE THIS MANUALLY
func {{.Method.ProcessorName}}(request *{{.Method.RequestTypeName}}, response *{{.Method.ResponseTypeName}}) (err error) {
	log.Printf("{{.Method.Name}} %+v", request)
	return nil
}