package main

import (
	"log"
)

func initialize_service() {

}

{{range .Renderer.Methods}}
// COMPLETE THIS MANUALLY
func {{.ProcessorName}}(parameters *{{.ParametersTypeName}}, responses *{{.ResponsesTypeName}}) (err error) {
	log.Printf("{{.Name}} %+v", parameters)
	return nil
}
{{end}}